In [2]:
import os
import pandas as pd
import numpy as np
import plotly_express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt
import seaborn as sns
import gc
import warnings
warnings.filterwarnings('ignore')
from lightgbm import LGBMRegressor
import joblib

In [3]:
m5_input_path = "/ssd003/projects/forecasting_bootcamp/bootcamp_datasets/m5-forecasting-accuracy"
prices = pd.read_csv(f'{m5_input_path}/sell_prices.csv')
calendar = pd.read_csv(f'{m5_input_path}/calendar.csv')
sales = pd.read_csv(f'{m5_input_path}/sales_train_evaluation.csv')
sample_sub = pd.read_csv(f'{m5_input_path}/sample_submission.csv')

In [4]:
# optuna: a package recommended for model optimazation and selection

#### Since, the validation data is now available for the days 1914-1941, Adding zero sales for days: d_1942 - d_1969(Test)

In [5]:
sales.shape

(30490, 1947)

In [7]:
#Add zero sales for the remaining days 1942-1969
for d in range(1942,1970):
    col = 'd_' + str(d)
    sales[col] = 0
    sales[col] = sales[col].astype(np.int16)

In [8]:
sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1960,d_1961,d_1962,d_1963,d_1964,d_1965,d_1966,d_1967,d_1968,d_1969
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
sales.tail()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1960,d_1961,d_1962,d_1963,d_1964,d_1965,d_1966,d_1967,d_1968,d_1969
30485,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,0,0,0,0,0,0,0,0,0,0
30486,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30487,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,0,0,0,0,0,0,0,0,0,0
30488,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
sales_bd = np.round(sales.memory_usage().sum()/(1024*1024),1)
calendar_bd = np.round(calendar.memory_usage().sum()/(1024*1024),1)
prices_bd = np.round(prices.memory_usage().sum()/(1024*1024),1)
print(sales_bd, calendar_bd, prices_bd)

454.5 0.2 208.8

In [11]:
#Downcast in order to save memory
def downcast(df):
    cols = df.dtypes.index.tolist()
    types = df.dtypes.values.tolist()
    for i,t in enumerate(types):
        if 'int' in str(t):
            if df[cols[i]].min() > np.iinfo(np.int8).min and df[cols[i]].max() < np.iinfo(np.int8).max:
                df[cols[i]] = df[cols[i]].astype(np.int8)
            elif df[cols[i]].min() > np.iinfo(np.int16).min and df[cols[i]].max() < np.iinfo(np.int16).max:
                df[cols[i]] = df[cols[i]].astype(np.int16)
            elif df[cols[i]].min() > np.iinfo(np.int32).min and df[cols[i]].max() < np.iinfo(np.int32).max:
                df[cols[i]] = df[cols[i]].astype(np.int32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.int64)
        elif 'float' in str(t):
            if df[cols[i]].min() > np.finfo(np.float16).min and df[cols[i]].max() < np.finfo(np.float16).max:
                df[cols[i]] = df[cols[i]].astype(np.float16)
            elif df[cols[i]].min() > np.finfo(np.float32).min and df[cols[i]].max() < np.finfo(np.float32).max:
                df[cols[i]] = df[cols[i]].astype(np.float32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.float64)
        elif t == np.object:
            if cols[i] == 'date':
                df[cols[i]] = pd.to_datetime(df[cols[i]], format='%Y-%m-%d')
            else:
                df[cols[i]] = df[cols[i]].astype('category')
    return df  

sales = downcast(sales)
prices = downcast(prices)
calendar = downcast(calendar)

In [12]:
sales_bd = np.round(sales.memory_usage().sum()/(1024*1024),1)
calendar_bd = np.round(calendar.memory_usage().sum()/(1024*1024),1)
prices_bd = np.round(prices.memory_usage().sum()/(1024*1024),1)
print(sales_bd, calendar_bd, prices_bd)

97.1 0.1 45.8

In [13]:
df = pd.melt(sales, id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']
             , var_name='d', value_name='sold').dropna()

In [14]:
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0

In [15]:
df = pd.merge(df, calendar, on='d', how='left')
df = pd.merge(df, prices, on=['store_id','item_id','wm_yr_wk'], how='left')

In [16]:
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN

In [17]:
df[df.store_id == 'CA_2'].head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
3049,HOBBIES_1_001_CA_2_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_2,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
3050,HOBBIES_1_002_CA_2_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_2,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
3051,HOBBIES_1_003_CA_2_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_2,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
3052,HOBBIES_1_004_CA_2_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_2,CA,d_1,6,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,4.339844
3053,HOBBIES_1_005_CA_2_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_2,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN

# Feature Engineering

In [18]:
#Store the categories along with their codes
d_id = dict(zip(df.id.cat.codes, df.id))
d_item_id = dict(zip(df.item_id.cat.codes, df.item_id))
d_dept_id = dict(zip(df.dept_id.cat.codes, df.dept_id))
d_cat_id = dict(zip(df.cat_id.cat.codes, df.cat_id))
d_store_id = dict(zip(df.store_id.cat.codes, df.store_id))
d_state_id = dict(zip(df.state_id.cat.codes, df.state_id))

In [19]:
d_store_id

{0: 'CA_1',
 1: 'CA_2',
 2: 'CA_3',
 3: 'CA_4',
 4: 'TX_1',
 5: 'TX_2',
 6: 'TX_3',
 7: 'WI_1',
 8: 'WI_2',
 9: 'WI_3'}

In [20]:
#convert date d_1969 into int
df.d = df['d'].apply(lambda x: x.split('_')[1]).astype(np.int16)

In [21]:
#replace categorical values with codes
cols = df.dtypes.index.tolist()
types = df.dtypes.values.tolist()
for i,type in enumerate(types):
    if type.name == 'category':
        df[cols[i]] = df[cols[i]].cat.codes

In [23]:
df[df.store_id == 1].head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
3049,14371,1437,3,1,1,0,1,0,2011-01-29,11101,...,1,2011,-1,-1,-1,-1,0,0,0,NaN
3050,14381,1438,3,1,1,0,1,0,2011-01-29,11101,...,1,2011,-1,-1,-1,-1,0,0,0,NaN
3051,14391,1439,3,1,1,0,1,0,2011-01-29,11101,...,1,2011,-1,-1,-1,-1,0,0,0,NaN
3052,14401,1440,3,1,1,0,1,6,2011-01-29,11101,...,1,2011,-1,-1,-1,-1,0,0,0,4.339844
3053,14411,1441,3,1,1,0,1,0,2011-01-29,11101,...,1,2011,-1,-1,-1,-1,0,0,0,NaN

### Introduce lags

In [24]:
# Introduce lags
# creating a few cols
lags = [1,2,3,6,12,24,36]
for lag in lags:
    df['sold_lag_'+str(lag)] = df.groupby(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'],as_index=False)['sold'].shift(lag).astype(np.float16)

In [25]:
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,date,wm_yr_wk,...,snap_TX,snap_WI,sell_price,sold_lag_1,sold_lag_2,sold_lag_3,sold_lag_6,sold_lag_12,sold_lag_24,sold_lag_36
0,14370,1437,3,1,0,0,1,0,2011-01-29,11101,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14380,1438,3,1,0,0,1,0,2011-01-29,11101,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14390,1439,3,1,0,0,1,0,2011-01-29,11101,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14400,1440,3,1,0,0,1,0,2011-01-29,11101,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14410,1441,3,1,0,0,1,0,2011-01-29,11101,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Means

In [26]:
df['iteam_sold_avg'] = df.groupby('item_id')['sold'].transform('mean').astype(np.float16)
df['state_sold_avg'] = df.groupby('state_id')['sold'].transform('mean').astype(np.float16)
df['store_sold_avg'] = df.groupby('store_id')['sold'].transform('mean').astype(np.float16)
df['cat_sold_avg'] = df.groupby('cat_id')['sold'].transform('mean').astype(np.float16)
df['dept_sold_avg'] = df.groupby('dept_id')['sold'].transform('mean').astype(np.float16)
df['cat_dept_sold_avg'] = df.groupby(['cat_id','dept_id'])['sold'].transform('mean').astype(np.float16)
df['store_item_sold_avg'] = df.groupby(['store_id','item_id'])['sold'].transform('mean').astype(np.float16)
df['cat_item_sold_avg'] = df.groupby(['cat_id','item_id'])['sold'].transform('mean').astype(np.float16)
df['dept_item_sold_avg'] = df.groupby(['dept_id','item_id'])['sold'].transform('mean').astype(np.float16)
df['state_store_sold_avg'] = df.groupby(['state_id','store_id'])['sold'].transform('mean').astype(np.float16)
df['state_store_cat_sold_avg'] = df.groupby(['state_id','store_id','cat_id'])['sold'].transform('mean').astype(np.float16)
df['store_cat_dept_sold_avg'] = df.groupby(['store_id','cat_id','dept_id'])['sold'].transform('mean').astype(np.float16)

### Rolling Windows

In [27]:
df['rolling_sold_mean'] = df.groupby(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'])['sold'].transform(lambda x: x.rolling(window=7).mean()).astype(np.float16)

### Expanding Windows

In [28]:
# Cumulative?

In [29]:
df['expanding_sold_mean'] = df.groupby(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'])['sold'].transform(lambda x: x.expanding(2).mean()).astype(np.float16)

### Trends

In [30]:
df['daily_avg_sold'] = df.groupby(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id','d'])['sold'].transform('mean').astype(np.float16)
df['avg_sold'] = df.groupby(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'])['sold'].transform('mean').astype(np.float16)
df['selling_trend'] = (df['daily_avg_sold'] - df['avg_sold']).astype(np.float16)
df.drop(['daily_avg_sold','avg_sold'],axis=1,inplace=True)

### Save the Data

In [31]:
df = df[df['d']>=36]

In [32]:
df.drop('date',axis=1,inplace=True)

In [33]:
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,wm_yr_wk,weekday,...,cat_dept_sold_avg,store_item_sold_avg,cat_item_sold_avg,dept_item_sold_avg,state_store_sold_avg,state_store_cat_sold_avg,store_cat_dept_sold_avg,rolling_sold_mean,expanding_sold_mean,selling_trend
1067150,14370,1437,3,1,0,0,36,0,11106,2,...,0.695801,0.321533,0.216553,0.216553,1.304688,0.801758,1.020508,0.0,0.0,-0.321533
1067151,14380,1438,3,1,0,0,36,0,11106,2,...,0.695801,0.253906,0.259766,0.259766,1.304688,0.801758,1.020508,0.0,0.0,-0.253906
1067152,14390,1439,3,1,0,0,36,0,11106,2,...,0.695801,0.156982,0.076660,0.076660,1.304688,0.801758,1.020508,0.0,0.0,-0.156982
1067153,14400,1440,3,1,0,0,36,0,11106,2,...,0.695801,1.694336,2.011719,2.011719,1.304688,0.801758,1.020508,0.0,0.0,-1.694336
1067154,14410,1441,3,1,0,0,36,0,11106,2,...,0.695801,0.958984,0.755371,0.755371,1.304688,0.801758,1.020508,0.0,0.0,-0.958984

In [34]:
df.shape

(58967660, 43)

In [35]:
df.to_pickle('lgbm_data_fe.pkl')
del df
gc.collect();

In [4]:
data = pd.read_pickle('lgbm_data_fe.pkl')
data.shape

(58967660, 43)

In [5]:
valid = data[(data['d']>=1914) & (data['d']<1942)][['id','d','sold']]
test = data[data['d']>=1942][['id','d','sold']]
eval_preds = test['sold']
valid_preds = valid['sold']

In [23]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
for store in range(0, 10):
    df = data[data['store_id']==store]
    
    #Split the data
    X_train, y_train = df[df['d']<1914].drop('sold',axis=1), df[df['d']<1914]['sold']
    X_valid, y_valid = df[(df['d']>=1914) & (df['d']<1942)].drop('sold',axis=1), df[(df['d']>=1914) & (df['d']<1942)]['sold']
    X_test = df[df['d']>=1942].drop('sold',axis=1)
    
    #Train and validate
    model = LGBMRegressor(
        n_estimators=1000,
        learning_rate=0.3,
        subsample=0.8,
        colsample_bytree=0.8,
        max_depth=8,
        num_leaves=50,
        min_child_weight=300
    )
    print('*****Prediction for Store: {}*****'.format(store))
    model.fit(X_train, y_train, eval_set=[(X_train,y_train),(X_valid,y_valid)],
             eval_metric='rmse', verbose=20, early_stopping_rounds=20)
    valid_preds[X_valid.index] = model.predict(X_valid)
    eval_preds[X_test.index] = model.predict(X_test)
    filename = 'model'+str(store)+'.pkl'
    # save model
    joblib.dump(model, filename)
    del model, X_train, y_train, X_valid, y_valid
    gc.collect()

*****Prediction for Store: 0*****
[20]	training's rmse: 0.839309	training's l2: 0.704439	valid_1's rmse: 0.540284	valid_1's l2: 0.291907
[40]	training's rmse: 0.804713	training's l2: 0.647562	valid_1's rmse: 0.530855	valid_1's l2: 0.281807
[60]	training's rmse: 0.781429	training's l2: 0.610632	valid_1's rmse: 0.523002	valid_1's l2: 0.273531
[80]	training's rmse: 0.757204	training's l2: 0.573357	valid_1's rmse: 0.510379	valid_1's l2: 0.260487
[100]	training's rmse: 0.745645	training's l2: 0.555986	valid_1's rmse: 0.506612	valid_1's l2: 0.256656
*****Prediction for Store: 1*****
[20]	training's rmse: 0.507777	training's l2: 0.257837	valid_1's rmse: 0.488489	valid_1's l2: 0.238622
[40]	training's rmse: 0.476213	training's l2: 0.226779	valid_1's rmse: 0.476781	valid_1's l2: 0.227321
[60]	training's rmse: 0.455012	training's l2: 0.207036	valid_1's rmse: 0.461926	valid_1's l2: 0.213375
[80]	training's rmse: 0.444636	training's l2: 0.197701	valid_1's rmse: 0.454875	valid_1's l2: 0.206912
[100]	training's rmse: 0.437982	training's l2: 0.191828	valid_1's rmse: 0.451953	valid_1's l2: 0.204261
[120]	training's rmse: 0.433962	training's l2: 0.188323	valid_1's rmse: 0.45112	valid_1's l2: 0.20351
[140]	training's rmse: 0.431149	training's l2: 0.185889	valid_1's rmse: 0.451563	valid_1's l2: 0.203909
*****Prediction for Store: 2*****
[20]	training's rmse: 1.29149	training's l2: 1.66795	valid_1's rmse: 0.661718	valid_1's l2: 0.43787
[40]	training's rmse: 1.23569	training's l2: 1.52693	valid_1's rmse: 0.634417	valid_1's l2: 0.402485
[60]	training's rmse: 1.19549	training's l2: 1.42919	valid_1's rmse: 0.629351	valid_1's l2: 0.396083
*****Prediction for Store: 3*****
[20]	training's rmse: 0.380196	training's l2: 0.144549	valid_1's rmse: 0.307933	valid_1's l2: 0.0948227
[40]	training's rmse: 0.360612	training's l2: 0.130041	valid_1's rmse: 0.294132	valid_1's l2: 0.0865134
[60]	training's rmse: 0.350815	training's l2: 0.123071	valid_1's rmse: 0.283209	valid_1's l2: 0.0802073
[80]	training's rmse: 0.346284	training's l2: 0.119913	valid_1's rmse: 0.279151	valid_1's l2: 0.0779253
[100]	training's rmse: 0.341273	training's l2: 0.116467	valid_1's rmse: 0.275021	valid_1's l2: 0.0756365
[120]	training's rmse: 0.336957	training's l2: 0.11354	valid_1's rmse: 0.272605	valid_1's l2: 0.0743133
[140]	training's rmse: 0.334212	training's l2: 0.111698	valid_1's rmse: 0.271197	valid_1's l2: 0.0735478
[160]	training's rmse: 0.332179	training's l2: 0.110343	valid_1's rmse: 0.270134	valid_1's l2: 0.0729725
[180]	training's rmse: 0.330715	training's l2: 0.109373	valid_1's rmse: 0.269674	valid_1's l2: 0.0727239
*****Prediction for Store: 4*****
[20]	training's rmse: 0.767224	training's l2: 0.588632	valid_1's rmse: 0.482491	valid_1's l2: 0.232797
[40]	training's rmse: 0.734191	training's l2: 0.539037	valid_1's rmse: 0.461598	valid_1's l2: 0.213073
[60]	training's rmse: 0.706554	training's l2: 0.499219	valid_1's rmse: 0.450871	valid_1's l2: 0.203284
[80]	training's rmse: 0.689995	training's l2: 0.476093	valid_1's rmse: 0.445365	valid_1's l2: 0.19835
[100]	training's rmse: 0.678852	training's l2: 0.46084	valid_1's rmse: 0.441953	valid_1's l2: 0.195322
[120]	training's rmse: 0.672868	training's l2: 0.452751	valid_1's rmse: 0.442268	valid_1's l2: 0.195601
*****Prediction for Store: 5*****
[20]	training's rmse: 0.94601	training's l2: 0.894935	valid_1's rmse: 0.519106	valid_1's l2: 0.269471
[40]	training's rmse: 0.886134	training's l2: 0.785234	valid_1's rmse: 0.499042	valid_1's l2: 0.249043
[60]	training's rmse: 0.849462	training's l2: 0.721587	valid_1's rmse: 0.49796	valid_1's l2: 0.247965
*****Prediction for Store: 6*****
[20]	training's rmse: 0.737677	training's l2: 0.544167	valid_1's rmse: 0.5754	valid_1's l2: 0.331085
[40]	training's rmse: 0.700795	training's l2: 0.491114	valid_1's rmse: 0.557829	valid_1's l2: 0.311173
[60]	training's rmse: 0.676494	training's l2: 0.457645	valid_1's rmse: 0.540306	valid_1's l2: 0.291931
[80]	training's rmse: 0.662344	training's l2: 0.438699	valid_1's rmse: 0.537165	valid_1's l2: 0.288546
[100]	training's rmse: 0.653739	training's l2: 0.427374	valid_1's rmse: 0.533369	valid_1's l2: 0.284482
[120]	training's rmse: 0.645097	training's l2: 0.41615	valid_1's rmse: 0.532438	valid_1's l2: 0.28349
[140]	training's rmse: 0.640055	training's l2: 0.40967	valid_1's rmse: 0.531328	valid_1's l2: 0.282309
[160]	training's rmse: 0.631917	training's l2: 0.399319	valid_1's rmse: 0.528981	valid_1's l2: 0.279821
*****Prediction for Store: 7*****
[20]	training's rmse: 0.400838	training's l2: 0.160671	valid_1's rmse: 0.342951	valid_1's l2: 0.117615
[40]	training's rmse: 0.376649	training's l2: 0.141865	valid_1's rmse: 0.33267	valid_1's l2: 0.110669
[60]	training's rmse: 0.365564	training's l2: 0.133637	valid_1's rmse: 0.330399	valid_1's l2: 0.109163
[80]	training's rmse: 0.357313	training's l2: 0.127673	valid_1's rmse: 0.325018	valid_1's l2: 0.105637
[100]	training's rmse: 0.354053	training's l2: 0.125353	valid_1's rmse: 0.324733	valid_1's l2: 0.105452
[120]	training's rmse: 0.344392	training's l2: 0.118606	valid_1's rmse: 0.319157	valid_1's l2: 0.101861
[140]	training's rmse: 0.341037	training's l2: 0.116306	valid_1's rmse: 0.318915	valid_1's l2: 0.101707
[160]	training's rmse: 0.337188	training's l2: 0.113696	valid_1's rmse: 0.319021	valid_1's l2: 0.101775
*****Prediction for Store: 8*****
[20]	training's rmse: 0.798309	training's l2: 0.637296	valid_1's rmse: 0.992575	valid_1's l2: 0.985206
[40]	training's rmse: 0.760625	training's l2: 0.57855	valid_1's rmse: 0.971553	valid_1's l2: 0.943915
[60]	training's rmse: 0.734517	training's l2: 0.539515	valid_1's rmse: 0.948056	valid_1's l2: 0.89881
[80]	training's rmse: 0.721674	training's l2: 0.520813	valid_1's rmse: 0.940497	valid_1's l2: 0.884534
*****Prediction for Store: 9*****
[20]	training's rmse: 0.820534	training's l2: 0.673277	valid_1's rmse: 0.589889	valid_1's l2: 0.347969
[40]	training's rmse: 0.775273	training's l2: 0.601048	valid_1's rmse: 0.584577	valid_1's l2: 0.34173
[60]	training's rmse: 0.756874	training's l2: 0.572858	valid_1's rmse: 0.57385	valid_1's l2: 0.329303
[80]	training's rmse: 0.737967	training's l2: 0.544596	valid_1's rmse: 0.569687	valid_1's l2: 0.324543
[100]	training's rmse: 0.726926	training's l2: 0.528421	valid_1's rmse: 0.569593	valid_1's l2: 0.324437

In [105]:
store = 1
df = data[data['store_id']==store]

In [111]:
data.shape

(5896766, 43)

In [ ]:
    
    #Split the data
X_train, y_train = df[df['d']<1914].drop('sold',axis=1), df[df['d']<1914]['sold']
X_valid, y_valid = df[(df['d']>=1914) & (df['d']<1942)].drop('sold',axis=1), df[(df['d']>=1914) & (df['d']<1942)]['sold']
X_test = df[df['d']>=1942].drop('sold',axis=1)
    
    #Train and validate
model = LGBMRegressor(
        n_estimators=1000,
        learning_rate=0.3,
        subsample=0.8,
        colsample_bytree=0.8,
        max_depth=8,
        num_leaves=50,
        min_child_weight=300
    )

print('*****Prediction for Store: {}*****'.format(d_store_id[store]))
model.fit(X_train, y_train, eval_set=[(X_train,y_train),(X_valid,y_valid)],
             eval_metric='rmse', verbose=20, early_stopping_rounds=20)
valid_preds[X_valid.index] = model.predict(X_valid)
eval_preds[X_test.index] = model.predict(X_test)
filename = 'model'+str(d_store_id[store])+'.pkl'
    # save model
joblib.dump(model, filename)
del model, X_train, y_train, X_valid, y_valid
gc.collect()