In [1]:
import numpy as np
import pandas as pd
from tqdm.auto import tqdm as tqdm

In [2]:
!pwd

/ssd003/home/pli/forecasting-bootcamp/Paul_Li_M5

In [3]:
!ls /ssd003/home/pli/Mar2022_Project/WRMSSE*

/ssd003/home/pli/Mar2022_Project/WRMSSE_demo.ipynb
/ssd003/home/pli/Mar2022_Project/WRMSSE.ipynb
/ssd003/home/pli/Mar2022_Project/WRMSSE.py

In [4]:
from WRMSSE import WRMSSEEvaluator

In [5]:
m5_input_path = "/ssd003/projects/forecasting_bootcamp/bootcamp_datasets/m5-forecasting-accuracy"
sell_price = pd.read_csv(f'{m5_input_path}/sell_prices.csv')
calendar = pd.read_csv(f'{m5_input_path}/calendar.csv')
train = pd.read_csv(f'{m5_input_path}/sales_train_evaluation.csv')
sample_sub = pd.read_csv(f'{m5_input_path}/sample_submission.csv')

In [6]:
train_v = pd.read_csv(f'{m5_input_path}/sales_train_validation.csv')

In [7]:
print("train(evaluation):", train.shape)
print("train_v(validation):", train_v.shape)

train(evaluation): (30490, 1947)
train_v(validation): (30490, 1919)

In [8]:
train_fold_df = train.iloc[:, :-28]
valid_fold_df = train.iloc[:, -28:].copy()

In [9]:
print("train_fold_df:", train_fold_df.shape)
print("valid_fold_df:", valid_fold_df.shape)

train_fold_df: (30490, 1919)
valid_fold_df: (30490, 28)

In [10]:
train_fold_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [11]:
valid_fold_df.head()

,d_1914,d_1915,d_1916,d_1917,d_1918,d_1919,d_1920,d_1921,d_1922,d_1923,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,0,0,0,2,0,3,5,0,0,1,...,2,4,0,0,0,0,3,3,0,1
1,0,1,0,0,0,0,0,0,0,1,...,0,1,2,1,1,0,0,0,0,0
2,0,0,1,1,0,2,1,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,0,0,1,2,4,1,6,4,0,0,...,1,1,0,4,0,1,3,0,2,6
4,1,0,2,3,1,0,3,2,3,1,...,0,0,0,2,1,0,0,2,1,0

In [12]:
%%time

e = WRMSSEEvaluator(train_fold_df, valid_fold_df, calendar, sell_price)
del train_fold_df, train, calendar, sell_price

  0%|          | 0/12 [00:00<?, ?it/s]

  0%|          | 0/12 [00:00<?, ?it/s]

  0%|          | 0/12 [00:00<?, ?it/s]

  0%|          | 0/42840 [00:00<?, ?it/s]

CPU times: user 32.8 s, sys: 8.49 s, total: 41.3 s
Wall time: 41.2 s

In [13]:
valid_preds = np.random.randint(4, size=valid_fold_df.shape)
e.score(valid_preds)

2.4848264172641708

In [14]:
e.weights

                                  0
all                    8.333333e-02
CA                     3.686428e-02
TX                     2.244138e-02
WI                     2.402767e-02
CA_1                   9.240690e-03
...                             ...
HOUSEHOLD_2_516--TX_2  1.056513e-06
HOUSEHOLD_2_516--TX_3  6.603205e-07
HOUSEHOLD_2_516--WI_1  1.320641e-07
HOUSEHOLD_2_516--WI_2  1.320641e-07
HOUSEHOLD_2_516--WI_3  0.000000e+00

[42840 rows x 1 columns]